$font-family: Roboto;

$primary-color: #5a0002;
$secondary-color: #fff;
$primary-text-color: #000;
$secondary-text-color: #fff;
$primary-background-color: #d4d4d4;
$secondary-background-color: #f5e9e9;
$confirm-color: #2bc42b;
$reject-color: #be2b2b;
$blur-background: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5 for 50% darkening) */

