.MuiLinearProgress-barColorPrimary {
  background-color: $primary-color !important;
}

.css-eglki6-MuiLinearProgress-root {
  background-color: #dc9697 !important;
}

.progress-bar {
  width: 100% !important;
  margin-bottom: 3vh !important;
}
