.navigation-language {
  width: auto;
}

.breadcrumb {
  padding: 5vh 1vw 5vh 1vw !important;
}

.MuiBreadcrumbs-root {
  color: $primary-color !important;
  font-weight: bold !important;
}

.access-level-switches {
  margin-left: 1vw !important;
}

.user-data {
  color: $primary-color !important;
  border: 0 !important;
  font-weight: bolder !important;
}
