.register-container {
  width: 100vw !important;
}

.register-menu {
  width: 100vw !important;
  background-color: $secondary-color;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

